@font-face {
    font-family: Dosis;
    src: url(../fonts/dosis/dosis.woff2),
         url(../fonts/dosis/dosis.woff),
         url(../fonts/dosis/dosis.eot),
         url(../fonts/dosis/dosis.otf),
         url(../fonts/dosis/dosis.ttf),
         url(../fonts/dosis/dosis.svg);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/openSansRegular/opensans.woff2),
        url(../fonts/openSansRegular/opensans.woff),
        url(../fonts/openSansRegular/opensans.eot),
        url(../fonts/openSansRegular/opensans.otf),
        url(../fonts/openSansRegular/opensans.ttf),
        url(../fonts/openSansRegular/opensans.svg);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/openSansBold/openSansBold.woff2),
        url(../fonts/openSansBold/openSansBold.woff),
        url(../fonts/openSansBold/openSansBold.eot),
        url(../fonts/openSansBold/openSansBold.otf),
        url(../fonts/openSansBold/openSansBold.ttf),
        url(../fonts/openSansBold/openSansBoldd.svg);
}
