// Colors
$blackHaze: #e5e6e6;
$quillGray: #dcddd4;
$quillGray2: #dcddd2;
$rollingStone: #798285;
$paleSlate: #c6bdc0;
$nobel: #b7b7b7;
$white: #ffffff;
$jumbo: #868688;
$doveGray: #696464;
$gulfStream: #8dbab3;
$hippieBlue: #62a2ad;
$capeCod: #4b4f4f;
$osloGray: #8a9294;
$edward: #aeb2b2;
$fuscousGray: #504b48;

$scorpion: #606060;
$black: #000;
$swamp: #00080c;


$headingDescriptionColor: $rollingStone;
$hamburgerColor: $paleSlate;


// Header
$headerHeight: 62px;
$headerFontSize: $headerHeight;

// Fonts
$primaryFont: OpenSans, Arial, Helvetica, sans-serif;
$primaryFontBold: OpenSansBold, Arial, Helvetica, sans-serif;
$secondaryFont: Dosis, Arial, Helvetica, sans-serif;
